{% extends "home.html" %}
{%load static%}
{% block content %}


{% if object_list|length %}

<div class="row">
{% for blog in object_list %}
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{ blog.title }}</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              {% if user.is_staff %}
              <a class="dropdown-item" href="{% url 'edit_blog' blog.id %}">Editar</a>
              <a class="dropdown-item" href="{% url 'delete_blog' blog.id %}">Borrar</a>
              {% endif %}
              {% if user.is_authenticated %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'detail_blog' blog.id %}">Leer mas</a>
              {% else %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'login' %}">Leer mas</a>
              {% endif %}
          </div>
      </div>
      </div>
    
      <div class="card shadow mb-4">
        <p><strong>Titulo: </strong>{{ blog.title }}</p>
        <p><strong>Autor: </strong>{{ blog.author }}</p>
        <p><strong>Fecha: </strong>{{ blog.date }}</p>
        <img src="{{ blog.image.url }}" width="200" height="200">
      </div>
      </div>
    </div>
{% endfor %}
</div>
{% else %}
<center>
  <div>
    <h2>NO HAY ENTRADAS AUN</h2>
  </div>
</center>
  <div class="text-center">
    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
        src="{% static 'img/jhontravolta.gif' %}" alt="...">
  </div>

{% endif %}
{% endblock content %}

