{% extends "home.html" %}
{% load static %}


{% block content %}
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <!-- Card Body -->
            <div class="card-body">
                <center>
                <p>Email: agimenox@gmail.com</p>
                
                <p>Telefono: +54 911 58799998</p>
                
                <p>Buenos Aires, Argentina</p>
                <hr>
                    <img class="sidebar-card-illustration mb-2" src="{% static 'img/GitHub-Mark.png' %}" width="100" 
                    height="100">
                    <br>
                <a target="_blank" rel="nofollow" href="https://github.com/agimenox">GitHub Repo!</a><br>
                <hr>
                <a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/andres-j-gimeno/">Linked In</a>
                </center>
            </div>
        </div>
    </div>
</div>


{% endblock content %}